<h1>Accountin#index</h1>
<div class='container'>
      <table class="table1" >
      	<tr>
      		<th class='col-md-1' >Device Name  </th>
      		<th class='col-md-3'>Device Owner  </th>
      		<th class='col-md-1'>Device Type  </th>
      		<th class='col-md-1'>Cost </th>
          <th class='col-md-1'>Paid for </th>

      	</tr>
      <% @devices.each do |n| %>
      	<td class ="device"><%= n.device_name %> </td>
        <td class ="name"><%= n.user.full_name %></td>
      	<td class="type"><%= n.device_type %> </td>
      	<td class="cost"><%= number_to_currency(n.device_upgrade_cost,:unit=> "£") %></td>
        <td>
          <% form_tag(edit_accounting_path, :method=>'get', :paid_for => true) do %>
            <%= submit_tag "-" %>
          <% end %>
        </td>
      </tr>
      <% end %>
      </table>
      <%= number_to_currency(a = Device.unpaid.wanted.sum(:device_upgrade_cost),:unit=> "£") %>

    </div>

</div>
